@charset "UTF-8";
	
	table {
	    width: 100%;
	    border-collapse: collapse;
	    text-align: center;
	    border-radius: 10px;
	    background-color: transparent;
	}
    
    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }
    
    th {
        background-color: transparent;
    }
    
    .quantity-controls {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button {
        background-color: #949c96; /* 버튼 색상 변경 */
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    #cart {
        text-align: right;
        margin-top: 10px;
    }
    
    #cartListContainer {
        width: 100%;
        overflow-x: auto;
    }
    
    button#cart-action-button {
        display: inline-block;
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    button#cart-action-button:hover {
        background-color: #0056b3;
    }
    
    .basket_txt-container {
    	text-align: center; /* 텍스트 가운데 정렬 */
   		margin: 0 auto;
	    border: 1px solid #ddd; 
	    border-radius: 10px; 
	    background-color: transparent; 
	    padding: 10px;
	    width: 50%;
    }
    
    h3 {
    	text-align: center;
	    line-height: 2; /* 텍스트 수직 가운데 정렬을 위해 line-height 설정 */
	    margin-left: 1cm;
	    margin-top: 1cm;
    }

	